<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-5 mb-3 border-bottom shadow-sm fixed-top bg-white">
    <img class="logo" src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" routerLink="/">
    <nav class="my-2 my-md-0 me-md-3 text-uppercase" style="font-size: larger;">
      <a class="me-3 py-2" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="me-3 py-2" routerLink="/shop" routerLinkActive="active">Shop</a>
      <a class="me-3 py-2" routerLink="/test-error" routerLinkActive="active">Errors</a>
    </nav>
    <div class="d-flex align-items-center">
        <div class="d-grid gap-5 d-md-flex justify-content-md-end">
            <div>
                <a class="position-relative">
                    <i class="fa fa-shopping-cart fa-2x text-dark"></i>
                    <div class="cart-no">5</div>
                </a>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div>
                    <a class="btn btn-outline-secondary">Login</a>
                </div>
                <div>
                    <a class="btn btn-outline-secondary">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>
